.main{
    display: flex;
    justify-content: space-between;
}
.calendar{
    float: right;
    width: 800px;
    margin-right: 20px;
    margin-top: 200px;
}
.buttonContainer{
    display: flex;
    margin-top: 150px;
}
.buttonContainer1{
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
}
.selectedButton{
    background-color: blueviolet;
    border: 2px solid blueviolet;
    color: white;
    border-radius: 5px;
    text-align: center;
    width:180px;
    height: 30px;
    margin: 10px;
    margin-left: 120px;
    padding: 10px 0px 0px 0px;
}
.attendanceButton{
    background-color: lightgray;
    border: 2px solid lightgray;
    border-radius: 5px;
    text-align: center;
    color: black;
    width:180px;
    height: 30px;
    margin: 10px;
    margin-left: 120px;
    padding: 10px 0px 0px 0px;
    cursor: pointer;
}
.attendance{
    margin: 40px;
    padding: 20px 40px 40px 40px;
}
.green{
    width: 100px;
    height: 20px;
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    margin-left: 10px;
}
.red{
    width: 100px;
    height: 20px;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 10px;
}
.display{
    display: flex;
}
.attendanceContainer{
    border: 1px solid lightgray;
    box-shadow: 5px 10px 5px 5px lightgray;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 30px;
    width: 500px;
    height:340px;
}
.navigateButton{
    width: 50px;
    height: 20px;
    border-radius: 5px;
    padding: 7px;
    text-align: center;
    border: 1px solid rgb(189, 236, 255);
    background-color: rgb(189, 236, 255);
    cursor: pointer;
}
.disabledButton{
    width: 50px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 7px;
    border: 1px solid rgb(243, 239, 239);
    background-color: rgb(243, 239, 239);
    cursor: not-allowed;
}