.NavBar{
    background-color: rgb(46, 70, 121);
    height: 50px;
}
.flex{
    display: flex;
    width:35%;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
}
.textColor{
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-left: 10px;
    margin-right: 90px;
    cursor: pointer;
}
.border{
    color: white;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    margin-left: 10px;
    margin-right: 90px;
    cursor: pointer;
    border-bottom: 3px solid white;
}