.mainBox{
    border: 1px solid Gray;
    border-radius: 20px;
    height:80vh;
    width:90vw;
    margin: 30px auto;
    padding-left: 20px;
}
.profileHeading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 70px;
}
.headerLabel{
    background-color: rgb(188, 188, 188);
    border-top: 1px solid rgb(188, 188, 188);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 40px;
    margin-left: -20px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.headerTwoLabel{
    background-color: rgb(188, 188, 188);
    height: 40px;
    margin-left: -20px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.flexBox{
    display: flex;
}
.overflowBox{
    height: 250px;
    overflow: scroll;
}
.eachParameter{
    width:10vw;
    padding-right: 20vw;
    font-family: Arial, Helvetica, sans-serif;
}
.dataHeader{
    font-weight: bold;
}